@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lugrasimo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #8080ff);
}

.container {
    position: relative;
    width: 850px;
    height: 550px;
    background: seagreen;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form-box {
    position: absolute;
    right:0;
    width: 60%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    
}

.form-box.register {
    visibility: hidden;
    position: absolute;
    left: 0;
    height: 80%;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
}

form {
    width: 100%;
}

.container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin: 20px 0;
    width: 100%;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box i {
    position: absolute;
    right: 20px; /* Align icon to the right */
    top: 50%; /* Center vertically */
    transform: translateY(8%); /* Adjust to make it truly centered */
    font-size: 18px; /* Adjust size if necessary */
    color: #666; /* Optional: change the color */
}

.forgot-link {
    margin: -10px 0 20px;
}

.forgot-link a {
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 48px;
    background: #7494ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 15px; /* Add spacing between buttons */
}

.btn1 {
    width: 100%;
    height: 48px;
    background: #7494ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px; /* Add spacing between buttons */
}


.error-message {
    font-size: 14px;
    color: red;
    margin-bottom: 20px;
    text-align: center;
}
